		
	#content {
		width:960px;
		margin:0px auto;
		padding:0px;
		/*overflow: hidden;*/
	}
	
		#content-header {
			margin-bottom:10px;
		}
		
			#content-header p.header-section {
				font-size:12px;
				color:#999999;
				margin:0px;
			}
			
			#content-header p.header-backtoall {
				font-size:12px;
				color:#999999;
				margin:0px 0px 5px 0px;
				padding-left:20px;
				background-image: url(../images/icon-backtoall.gif);
				background-position:middle left;
				background-repeat:no-repeat;
			}
				p.header-backtoall a {
					color:#999999;
					text-decoration:none;
				}
					p.header-backtoall a:hover {
						color:#999999;
						text-decoration:none;
						border-bottom:dotted 1px #999999
					}
		
			#content-header h2.header-title {
				position:relative;
				font-size:24px;
				font-weight:400;
				letter-spacing:-0.5px;
				color:#333333;
				margin-bottom:20px;
				border-bottom:solid 1px #dddddd;
				padding-bottom:4px;
			}	
				h2.header-title span {
					position:absolute;
					top:-3px;
					right:1px;
					font-size:0.6em;
					cursor: pointer;
				}

	/* ------------------------------------------------------------
		NUMBER OF COLUMNS: Adjust #page-0 li to set the number
		of columns required in your site map. The default is 
		4 columns (25%). 5 columns would be 20%, 6 columns would 
		be 16.6%, etc. 
	------------------------------------------------------------ */
	
		#page-0 li {
			width:25%;
		}
	
		#page-0 li ul li {
			width:100% !important;
		}
	
		#page-0 .col1 li { width:99.9%; }
		#page-0 .col2 li { width:50.0%; }
		#page-0 .col3 li { width:33.3%; }
		#page-0 .col4 li { width:25.0%; }
		#page-0 .col5 li { width:20.0%; }
		#page-0 .col6 li { width:16.6%; }
		#page-0 .col7 li { width:14.2%; }
		#page-0 .col8 li { width:12.5%; }
		#page-0 .col9 li { width:11.1%; }
		#page-0 .col10 li { width:10.0%; }

	/* ------------------------------------------------------------
		General Styles
	------------------------------------------------------------ */

		.sitemap {
			margin: 0;
			float: left;
			width: 100%;
		}

	/* ------------------------------------------------------------
		Site Map Styles
	------------------------------------------------------------ */
	
		/* --------	Top Level --------- */
	
		#page-0 {
			margin: 40px 0px;
			float: left;
			width: 100%;
		}
		#page-0 .home {
			display: block;
			float: none;
			background: #ffffff url('images/L1-left.png') center bottom no-repeat;
			position: relative;
			z-index: 2;
			/*padding: 0 0 30px 0;*/
		}
		#page-0 li {
			float: left;
			background: url('images/L1-center.png') center top no-repeat;
			padding: 30px 0;
			margin-top: -30px;
			position: relative;
		}
		#page-0 li .select-container {
			cursor: pointer;
			margin: 0 0px 0 25px;
			padding: 10px 0;
			/*display: block;*/
			background: #cce9fb url('images/white-highlight.png') top left repeat-x;
			border: 1px solid #a7cde4;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			/*-webkit-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; 
			-moz-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px;*/ /* FF 3.5+ */	
		}
		#page-0 .disabled > .select-container {
			border: 1px solid #cccccc;
			background-color: #ececec;
		}
			#page-0 .disabled > .select-container:hover {
				border: 1px solid #cccccc;
				background-color: #f4f4f4;
			}
			#page-0 .disabled > .select-container h3.section-name {
				color:#333333;
			}
		#page-0 li .select-container:hover {
			background-color: #e9f7ff;
			border-color: #a7cde4;
		}
		#page-0 li:last-child {
			background: url('images/L1-right.png') center top no-repeat;
		}
	
		#page-0 li h3.section-name {
			font-size: 14px;
			font-weight: 400;
			text-align: center;
			color: #333333;
		}
		#page-0 li h4.section-location {
			text-align: center;
			display: block;
			/*text-transform: uppercase;*/
			font-size: 11px;
			font-weight:400;
			margin-bottom: 5px;
			color: #38627A;		
		}
	
			#page-0 li h4.section-location a {
				color: #78a9c0;		
				text-decoration: none;
			}
	
	
		#page-0 li.page-placeholder {
			/*margin: 0 20px 0 0;*/
			/*display: block;*/
			background: none;
			margin: 0px 8px 0px -10px;
			border: 1px solid #a7cde4;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
			#page-0 ul li li.page-placeholder,
			#page-0 ul li ul li.page-placeholder {
				background: none;
			}
		
		#page-0 li.ui-sortable-helper, 
		#page-0 li ul li.ui-sortable-helper, 
		#page-0 li ul li ul li.ui-sortable-helper {
			background: none;
		}
			#page-0 li.ui-sortable-helper ul,
			#page-0 li ul li.ui-sortable-helper ul,
			#page-0 li ul li ul li.ui-sortable-helper ul {
				display: none;
			}
	
		/* --------	Second Level --------- */
		/*#page-0 li ul {
			height: 10px;
			width: 100%;
		}*/
		
		#page-0 li li {
			width: 100%;
			/*max-width: 200px;*/
			clear: left;
			margin-top: 0px;
			padding: 30px 0 0 0;
			background: url('images/vertical-line.png') center bottom repeat-y;
		}
		#page-0 li li .select-container {
			background-color: #c5e6ac;
			border-color: #add78e;
		}
		#page-0 li li .select-container:hover {
			border-color: #add78e;
			background-color: #e6f6db;
		}
		#page-0 li li:first-child {
			/*padding-top: 30px;*/
		}
		#page-0 li li:last-child {
			background: url('images/vertical-line.png') center bottom repeat-y;
		}
		#page-0 li li h4.section-location a {
			color: #8faf5c;
		}
	
		/* --------	Third Level --------- */
	
		#page-0 li li ul {
			margin: 10px 0 0 0;
			width: 100%;
			float: right;
			padding: 9px 0 10px 0;
			background: #f5f5f6 url('images/L3-ul-top.png') center top no-repeat;
		}
		#page-0 li li li {
			background: url('images/L3-center.png') left center no-repeat;
			padding: 15px 0 5px 0;
		}
		#page-0 li li li .select-container {
			background-color: #f9f4a7;
			border-color: #e3cb80;
			font-size: 12px;
			padding: 5px 0;
			width: 80%;
			/*float: right;*/
		}
		#page-0 li li li .select-container:hover {
			background-color: #fbf8ca;
			border-color: #e3cb80;
		}
		#page-0 li li li:first-child {
			background: url('images/L3-li-top.png') 0px -50px no-repeat;
		}
		#page-0 li li li:last-child {
			background: url('images/L3-bottom.png') 0px -50px no-repeat;
		}
		#page-0 li li li h4.section-location {
			color: #38627A;
			font-size: 9px;
		}
		
		/* --------	Fourth Level --------- */
	
		#page-0 li li li ul {
			margin: 0px;
			width: 100%;
			float: right;
			padding: 0px;
			background: #f5f5f6 url('images/vertical-line.png') center top no-repeat;
		}
		#page-0 li li li li {
			background: none; /* url('images/vertical-line.png') left center no-repeat;*/
			/*padding: 5px 0;*/
		}
		#page-0 li li li li .select-container {
			background-color: #f9caa7;
			border-color: #e3cb80;
			font-size: 12px;
			padding: 5px 0;
			width: 75%;
			/*float: right;*/
		}
		#page-0 li li li li .select-container:hover {
			background-color: #fbcaca;
			border-color: #e3cb80;
		}
		#page-0 li li li li:first-child {
			/*padding: 15px 0 5px 0;*/
			background: none; /* background: url('images/vertical-line.png') left center no-repeat;*/
		}
		#page-0 li li li li:last-child {
			background: url('images/vertical-line.png') center top no-repeat;
		}
		#page-0 li li li li h4.section-location {
			color: #38627A;
			font-size: 9px;
		}

	p.legend {
		color:#999999;
		line-height:16px;
		width:70%;
		padding-left:25px;
	}


	/* ------------------------------------------------------------
		Utility Navigation
	------------------------------------------------------------ */
		
		/*
		#utilityNav {
			float: right;
			max-width: 50%;
			margin-right: 10px;
		}
		#utilityNav li {
			float: left;
			margin-bottom: 10px;
		}
		#utilityNav li a {
			margin: 0 10px 0 0;
			padding: 5px 10px;
			display: block;	
			border: 2px solid #e3ca4b;
			font-size: 12px;
			font-weight: bold;
			text-align: center;
			color: black;
			background: #fff7aa url('images/white-highlight.png') top left repeat-x;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			-webkit-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; 
			-moz-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; /* FF 3.5+ */	
		/*}
		#utilityNav li a:hover {
			background-color: #fffce5;
			border-color: #d1b62c;
		}
		#utilityNav li a:link:before,
		#utilityNav li a:visited:before {
			color: #ccae14;
			font-size: 9px;
			margin-bottom: 3px;
		}*/
	
		/** Sitemap Reorder Styles **/
		.sitemap, #dragHelper {display: block; margin: 0; overflow:hidden}
		#dragHelper { background: #eee; }
		.sitemap ul, #dragHelper ul {font-size: 1em; list-style: none; padding-right: 30px;}
		.sitemap li, #dragHelper li {display: block; width: 100%; display: block; list-style: none; /*clear: both;*/ padding:0px 5px 5px 5px; }
		
		/** Sitemap Level 1 **/
		.sitemap li dl, #dragHelper ul li div 
			{position: relative; display: block; height: 19px; padding: 10px 0px 5px 15px; background:#f0f9ff; color:#38627A; background-image:url(../images/icon-sitemap-sidebar-page.gif); background-position:10px 8px; background-repeat:no-repeat;}
			.sitemap li dl:hover, #dragHelper ul li div:hover {background-color:#c8e5f7;}
		
			/** Sitemap Level 2 **/
			.sitemap li ul li dl, #dragHelper ul li ul li div 
				{position: relative; display: block; height: 19px; padding: 10px 0px 5px 15px; background:#E6F6DB; color:#38627A; background-image:url(../images/icon-sitemap-sidebar-page.gif); background-position:10px 8px; background-repeat:no-repeat;}
				.sitemap li ul li dl:hover, #dragHelper ul li ul li div:hover {background-color:#C5E6AC;}
				
				/** Sitemap Level 3 **/
				.sitemap li ul li ul li dl, #dragHelper ul li ul li ul li div 
					{position: relative; display: block; height: 19px; padding: 10px 0px 5px 15px; background:#FBF8CA; color:#38627A; background-image:url(../images/icon-sitemap-sidebar-page.gif); background-position:10px 8px; background-repeat:no-repeat;}
					.sitemap li ul li ul li dl:hover, #dragHelper ul li ul li ul li div:hover {background-color:#F9F4A7;}
		
		.sitemap dt, #dragHelper dt {float: left; font-weight: 400; font-size: 1.1em; line-height: 1em; margin-left: 16px; padding: 0 0 0 1px;}
		.sitemap dd, #dragHelper dd {float: left;}
		.sitemap .sm2_actions, #dragHelper .sm2_actions {display: none; padding: 3px 2px 0 5px;}
		.sitemap .sm2_status, #dragHelper .sm2_status {position: absolute; top: 3px; right: 0;}
		
		.sitemap dl:hover dd, .sitemap dd:hover {display: block;}
		.sitemap dd strong, #dragHelper dd strong {display: none;}
		.sitemap a, #dragHelper a {border: none;}
		
		/*.sitemap .sm2_liOpen, #dragHelper .sm2_liOpen {background: url(images/sm2_li.gif) left repeat-y;}*/
		
		.sitemap #page-0 .select-container.sm2_over {background-color: #9ac4dd;}
		.sitemap .dropzone.sm2_over {border-color: #9ac4dd; margin-bottom:10px;}
		
		#sortHelper {height: 1px !important; background: #000; margin: 0 !important; padding: 0; position: relative; z-index: 100;}
		#sortHelper + li {margin-top: 0;}
		
		#dropMenu {background: #333; color:#eee; position:absolute; display:none; z-index:1000;}
		#dropMenu ul {list-style:none; margin:0; padding:0; text-indent:0;}
		#dropMenu li {margin:0; padding:5px 10px; width:100px; cursor:pointer; font-weight:bold;}
		
		.sitemap #page-0 .sortable li .select-container { cursor: move; } 
		.sitemap li .dropzone { height:50px; width: 6px; background-color:transparent; border-right: 14px solid transparent; float: left; }
		.sitemap li li .dropzone { height: 0px; width: 100%; margin-top: -28px; margin-left: 12px; background-color: transparent; border-bottom: 25px solid transparent; }
		
		.sitemap li .dropzone.after { position: absolute; right: -25px; }
		.sitemap li li .dropzone.after { position: absolute; bottom: -45px; }
		
		.ui-draggable-dragging { cursor: move; max-width: 300px; }
	